= form_for comment do |f|
  .form-group
    %label
      Leave your comment about the movie
    = f.text_area :content, class: 'form-control', required: 'required'
  .form-group
    = f.hidden_field :movie_id, value: movie.id
    = f.submit 'Comment', class: 'btn btn-sm btn-default'